<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gaziantep Sonuç Açıklama</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="index.css" rel="stylesheet">
        <style>
            table {
                border-spacing: 0;
                margin-left: 6rem;
                margin-right: 6rem;
                font-family: arial, sans-serif;
                width: 100%;
            }
            
            td{
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
             th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            tr:nth-child(even) {
                text-align: center;
              background-color: #dddddd;
            }
            .brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
        </style>
    </head>
    <body>
        <div class="container_fluid">
            <div class="row">  <br/><h1 style="color: #2e6c80; text-align: center;"> </h1></div>

                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-1">
                        <br/>
                        <img class="brand_logo" src={{ url_for('static', filename='logo.jpg') }} alt="Diyanet" width="150" height="150">
                           
                    </div>
                    <div class="col-sm-4">
                        <div class="card-body">
                            <br/>
                            <h1 style="color: #154085; text-align: center;">T.C.</h1>
                            <h2 style="color: #154085; text-align: center;">GAZİANTEP İL MÜFTÜLÜĞÜ</h2>
                            <h5 style="color: #154085; text-align: center;">SINAV SONUÇLARI SORGULAMA SAYFASI</p>
                            
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row"><div class="col-sm-12"></div></div>
                
                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7">
                        <div class="input-group">
                            
                            <form class="row g-3" method="post" action="{{ url_for("index")}}">
                                <div class="input-group mb-3">
                                    <input name="tc" maxlength="11" placeholder="T.C. Kimlik No" type="text" class="form-control" aria-describedby="button-addon2">
                                    <button class="btn btn-primary" type="submit" id="button-addon2">Sorgula</button>
                                  </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-4">
                        <br>
                    </div>
                    <div class="col-sm-8"></div>
                        <table class="table table-bordered table-hover table-striped">
                            <tr class="table-active">
                                {% for header in headings %}
                                    <th>{{ header }}</th>
                                {% endfor %}
                            </tr>
                           <tr></tr>
                           <tr >
                            {% for cell in data %}
                            
                              <td>{{ cell }}</td>
                           
                            {% endfor %}
                             </tr>
                             
                        </table>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row">
                    <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                            <div class="card-body">
                            <h5 class="card-title">{{mesaj}}</h5>
                            </div>
                            </div>
                        </div>
                  </div>

                <div id="footer">
                    {% block footer %}
                    <div class="container_fluid">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <hr>
                                <p class="card-text">Sınavda başarılı olanlar ihtiyaç oldukça başarı sırasına göre başvuru yapılan birimce görevlendirilecektir.
                                </p>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                    </div>
                    {% endblock%}
                </div>
            </div>
      
    </body>
</html>